<div class="main">

 <div class="banner-custom">
    <img src='https://cdn.pixabay.com/photo/2017/01/18/10/43/banner-1989514_1280.png' alt=''>
   <div class="banner-button">
      <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class:'btn-border-white' %>
    </div>
    <div class="banner-back">
      <%= link_to "retour", root_path%>
    </div>
  </div>
  <div class="box-avatar">
    <% if current_user.photo.attached? %>
      <%= cl_image_tag current_user.photo.key, crop: :fill, class:'avatar border-red' %>
    <% else %>
      <img src="https://www.splitbrain.org/_static/monsterid/monsterid.php?.png" alt="avatar" class='avatar border-red'>
    <% end %>
  </div>



  <h2 class="text-center mt-3">Profil</h2>
  <div class="container">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
               <%= f.input :first_name,
                  label: 'prénom',
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "prénom" }%>
      <%= f.input :last_name,
                  label: 'nom',
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "nom" }%>
      <%= f.input :nickname,
                  label: 'pseudo',
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "pseudo" }%>
      <%= f.input :city,
                  label: 'ville',
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "Ville" }%>

      <%= f.input :photo, as: :file %>



       <%= f.input :email, label: 'email',required: true, autofocus: true %>


      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :password,
                  label: 'mot de passe',
                  hint: "laissez le champ vide, si vous ne souhaitez pas changer votre password ",
                  required: false,
                  input_html: { autocomplete: "nouveau-password" } %>
      <%= f.input :password_confirmation,
                  label: 'confirmation du mot de passe',
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :current_password,
                  label: 'mot de passe actuel',
                  hint: "requiert votre password actuel pour confirmer vos changements",
                  required: true,
                  input_html: { autocomplete: "current-password" } %>
    </div>

 </div>



    <br>
    <div class="form-actions">
      <div class="box-button">
        <%= f.button :submit, 'Mettre à jour', class:'btn-border-red' %>
      </div>
<div class="d-flex justify-content-center my-3 ">
  <%= link_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Tu nous quittes pour de bon c?" }, method: :delete, class:'btn-border-red' %>
       <% end %>
</div>

</div>
