<div class="main">

  <div class="banner-custom">
    <img src='https://cdn.pixabay.com/photo/2017/01/18/10/43/banner-1989514_1280.png' alt='Background Picture'>
    <div class="banner-back">
      <%= link_to "retour", playground_users_path %>
    </div>
  </div>
  <div class="box-avatar">
    <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_xldzoar8.json" speed="1" class= "loading avatar border-red" loop autoplay></lottie-player>
  </div>

  <div class="text-map">
    <h2>Classement</h2>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Rang</th>
        <th scope="col">Utilisateur</th>
        <th scope="col">Score</th>
      </tr>
    </thead>

    <tbody>
    <% @users.each_with_index do |user, index| %>

      <% if user == current_user %>
        <tr class='custom-row row-current-user'>
          <th scope="row"><%= index + 1 %></th>
          <td><%= user.nickname %></td>
          <td><%= user.calculate_score %></td>
        </tr>
      <% else %>
        <tr>
          <th scope="row"><%= index + 1 %></th>
          <td><%= user.nickname %></td>
          <td><%= user.calculate_score %></td>
        </tr>
      <% end %>
    <% end %>
    </tbody>

  </table>
</div>
