<div class="main">

  <div class="banner-custom">
    <img src='https://cdn.pixabay.com/photo/2017/01/18/10/43/banner-1989514_1280.png' alt=''>
    <div class="banner-button">
      <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class:'btn-border-white' %>
    </div>
  </div>
  <div class="box-avatar">
    <img class= "avatar border-red" src='https://wavemind.ch/wp-content/uploads/2020/09/sinan-portrait-SITE.png'>
  </div>
  <div class="title-mission">
    <h2>Hello <%=current_user.first_name%>!</h2>
  </div>

  <div class="leaderboard mb-2 mx-2">
    <table class="table-custom">
      <tbody>
        <% @users_shortlist.each_with_index do |user, index| %>

          <% if user == current_user %>
            <tr class='custom-row row-current-user'>
              <th scope="row"><%= index + 1 %></th>
              <td><%= user.nickname %></td>
              <td><%= user.calculate_score %></td>
            </tr>
          <% else %>
            <tr class = "custom-row">
              <th scope="row"><%= index + 1 %></th>
              <td><%= user.nickname %></td>
              <td><%= user.calculate_score %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <div class="box-button"><%= link_to "Voir plus", users_path, class:'btn-border-red' %></div>
  </div>

<hr style="width: 50%; margin-left: auto">

  <div class="open-mission text-center">
    <h3>Vos missions inachevées</h3>
    <% @open_challenges.each do |challenge|%>
      <div class="playground-card">
        <%= image_tag challenge.mission.photo_url, alt: "Le Wagon" %>
        <div class="playground-card-infos">
          <div class="playground-card-infos-text">
            <h5><%= challenge.mission.name %></h5>
            <div>
              <p>📍 ADD CITY TO DB </p>
              <p>🏋️‍♀️ <%= challenge.mission.difficulty %></p>
            </div>
          </div>
          <div class="playground-card-infos-score">A0%</div>
          <div class="btn-red card-button"><%= link_to 'Reprendre', challenge_path(challenge)%></div>
        </div>
      </div>
    <% end %>
  </div>

<hr style="width: 50%; margin-left: auto">

  <div class="open-mission text-center">
    <h3>Vos missions terminées</h3>
    <% @done_challenges.each do |challenge|%>
      <div class="container-item">
        <%= image_tag challenge.mission.photo_url, alt: "Le Wagon", width: 200, class:'img-mission-list' %>
        <div class="mission-infos">
          <h2><%= challenge.mission.name %></h2>
          <p>Ville: ADD CITY TO DB </p>
          <p>Difficulté: <%= challenge.mission.difficulty %></p>
          <p>Score final: <%= challenge.score %></p>
          <div class="btn"><%= link_to 'See more', '#'%></div>
        </div>
      </div>
    <% end %>
  </div>

</div>
