<div class="map-popup">
  <% if challenge_question.status %>
    <p>Bravo, vous avez déjà trouvé la bonne réponse à cette question!</p>
  <% else %>
    <div style="height: 50px;" class="mb-3">
    <lottie-player src="https://assets2.lottiefiles.com/packages/lf20_y37xuqq6.json" speed="1" loop autoplay></lottie-player>
  </div>
    <p class="question">
      <%= question.question %>
    </p>
    <%= simple_form_for challenge_question, method: :post, url: challenge_question_validate_path(challenge, question), html: { autocomplete: 'off' } do |f| %>
      <%= f.input :guess, label: false %>
      <%= f.hidden_field :redirect, value: "all_map" %>
      <%= f.submit "Valider", class: "btn-red" %>
    <% end %>
  <% end %>
</div>
