<div class="main">

 <div class="banner-custom">
    <img src='https://cdn.pixabay.com/photo/2017/01/18/10/43/banner-1989514_1280.png' alt=''>
    <div class="banner-back">
      <%= link_to "retour", url_for(:back) %>
    </div>
  </div>
  <div class="box-avatar">
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <lottie-player src="https://assets9.lottiefiles.com/packages/lf20_jcyhxkau.json" speed="1"  class= "avatar border-red" loop  autoplay></lottie-player>
  </div>

  <h3>Score <%= @challenge.mission.name %></h3>


  <div class="score-box">

    <div class="score-list" id="question_answered">
      <p class="score-list-title"> Questions répondues:</p>
      <p>
        <%= @challenge.calculate_score[:question_answered] %>
        x
        <%= @challenge.calculate_score[:question_points] %> pts
      </p>
      <p class="score-list-points"> + <%= @challenge.calculate_score[:score_questions] %> pts</p>

    </div>

    <div class="score-list" id="guess_false">
      <p class="score-list-title"> Mauvaises réponses:</p>
      <p>
        <%= @challenge.calculate_score[:question_guess] - @challenge.calculate_score[:question_answered]  %>
        x
        <%= @challenge.calculate_score[:guess_malus] %>
      </p>
      <p class="score-list-points"> <%= @challenge.calculate_score[:score_guess] %> pts</p>
    </div>

    <div class="score-list" id="final_guess_false">
      <p class="score-list-title">Malus essais erronés:</p>
        <p>
          <%= @challenge.calculate_score[:final_guess]  %>
          x
          <%= @challenge.calculate_score[:final_guess_malus] %> pts
        </p>
        <p class="score-list-points"><%= @challenge.calculate_score[:score_final_guess] %> pts</p>
    </div>

    <div class="score-list" id="mission_done">
      <p class="score-list-title">Mission achevée:</p>
      <p><%= @challenge.calculate_score[:score_end_mission] %> pts</p>
      <p class="score-list-points">
        <% if @challenge.calculate_score[:mission_done] %>
          + <%= @challenge.calculate_score[:final_guess]  %> pts
        <% else %>
          0 pts
        <% end %>
      </p>
    </div>

    <div class="score-list" id="bonus">
      <p class="score-list-title">Bonus difficulté: </p>
      <p>
        <%= @challenge.calculate_score[:mission_difficulty] %>
        <%= (@challenge.calculate_score[:bonus] * 100).to_i %>%
      </p>
      <p class="score-list-points"><%= @challenge.calculate_score[:bonus_points] %> pts</p>
    </div>

    <div class="score-list" id="multiplier">
    </div>

    <div id="final-score-box">
    <h2 id="final-score"><%= @challenge.calculate_score[:final_score] %> pts</h2>
    </div>

  </div>

  <div>
  <p>Mission commencée le: <%= @challenge.created_at %></p>
  <p>Mission terminée le: <%= @challenge.created_at %></p>
  </div>

</div>
