
<div class="wrapper-challenge-show d-flex flex-column justify-content-between">
  <header class="header-challenge-show">
    <div class="banner-custom">
      <img src='https://cdn.pixabay.com/photo/2017/01/18/10/43/banner-1989514_1280.png' alt=''>
      <div class="banner-back">
        <%= link_to "retour", root_path%>
      </div>
    </div>
    <div class="box-avatar">
      <%= link_to challenge_map_path(@challenge) do %>
        <lottie-player src="https://assets2.lottiefiles.com/packages/lf20_hooof5c8.json" speed="1" class= "logo-map avatar border-red" loop  autoplay></lottie-player>
      <% end %>
    </div>
    <div class="text-map">
      <i class="map-arrow fas fa-sort-up"></i>
      <h2>Ouvrir la map</h2>
    </div>
  </header>

  <div class="list-wrapper mb-2 mt-5 mx-4">
    <% @challenge.mission.clues.each_with_index do |clue, index|%>
        <% if index < @challenge.challenge_questions.where(status: true).count %>
          <div class="list-item pl-3 py-2 m-3 rounded-pill border border-success">
              <i class="fas fa-unlock-alt pr-3"></i>
              <span><%= clue.description %></span>
          </div>
        <% else %>
          <div class="list-item pl-3 py-2 m-3 rounded-pill bg-success">
              <i class="fas fa-lock pr-3"></i>
              <span>Indice bloqué</span>
          </div>
        <% end %>
    <% end %>
  </div>

  <%= simple_form_for @challenge, method: :post, url: challenge_validate_path(@challenge) do |f| %>
      <%= f.submit "Valider le lieu secret - test", class: "btn-red" %>
    <% end %>

  <button class="mb-2 button-validate">Valider lieu secret</button>
</div>
