<div class="wrapper-challenge-show d-flex flex-column justify-content-center px-2">
  <header class="header-challenge-show">

    <h2 class="text-center py-3 h2-challenge">Ouvrir la map</h2>

    <div class="box-avatar-challenge">
      <%= link_to "map" do %>
        <%= image_tag "https://res.cloudinary.com/dg2an4buq/image/upload/v1638362273/earth_xe0rsw.png"%>
      <% end %>
    </div>

  </header>

  <div class="list-wrapper mb-5">
    <% @challenge.mission.clues.each do |clue| %>
      <div class="list-item bg-success bg-gradient my-4 p-1"><%= clue.description %></div>
    <% end %>
  </div>

 <div class="btn button-validate">Valider lieu secret</div>
</div>






<!-------------------------------Test 1--------------------------------->
<!--<div class="container-challenge-show">
  <div class="part-top">
    <div class="questions-list">
      <h2>Accéder à la map</h2>
      <% @challenge.mission.questions.each do |question| %>
        <li><%= question.question %></li>
      <% end %>
    </div>
  </div>
  <div class="part-bottom">
    <h3>Indices récupérés </h3>
    <div class="clues-list">
      <% @challenge.mission.clues.each do |clue| %>
        <li><%= clue.description %></li>
      <% end %>
      <p>Quand vous pensez avoir trouvé la bonne localisation cliquez sur ce bouton afin de valider votre localisation</p>
      <h2>PUSHE ME (IF YOU CAN) !!</h2>
    </div>
  </div>
</div>-->
