
<div class="wrapper-challenge-show d-flex flex-column justify-content-between">
  <header class="header-challenge-show">
    <div class="banner-custom">
      <img src='https://cdn.pixabay.com/photo/2017/01/18/10/43/banner-1989514_1280.png' alt=''>
      <div class="banner-back">
        <%= link_to "retour", root_path%>
      </div>
    </div>
    <div class="box-avatar">


    <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_svy4ivvy.json" speed="1" class= "loading avatar border-red" loop autoplay></lottie-player>
 <%= link_to challenge_map_path(@challenge) do %>
      <% end %>
    </div>
    <div class="text-map">
      <i class="map-arrow fas fa-sort-up"></i>
      <h2>Ouvrir la map</h2>
    </div>
  </header>

<div class="show-box">
<table class="show-table-custom">
    <tbody>

    <% @challenge.mission.clues.each_with_index do |clue, index|%>
        <% if index < @challenge.challenge_questions.where(status: true).count %>
        <tr class="row-show-unlocked"style="background-color:#FC635B;">
              <th><i class="fas fa-unlock-alt p-2"></i></th>
              <td><%= clue.description %></td>
          </tr>
        <% else %>
          <tr class="row-show-locked"style="background-color:gray;">
              <th><i class="fas fa-lock p-2"></i></th>
              <td>Indice bloqué</td>
          </tr>
        <% end %>
    <% end %>
  </tbody>

</table>

</div>
  <div class="box-button">
  <div class="button-buzzer">
  <%if @challenge.challenge_questions.count == @challenge.challenge_questions.where(status: true).count %>
    <%= simple_form_for @challenge, method: :post, url: challenge_validate_path(@challenge) do |f| %>
      <%= f.submit "Valider le lieu secret", class: "btn-red" %>
      <%end%>
  <%else%>
    <button disabled class="btn-red">Valider le lieu secret</button>
  <% end %>
</div>
  </div>
</div>
