<div class="container mission-img-container">
  <img src=<%=@mission.photo_url%> alt=<%=@mission.name%>>
  <h1 class="mission-title"><%=@mission.name%></h1>
</div>

<div class="categories-container">
  <div>
    Categorie: <%=@mission.category%>
  </div>
  <div>
    Difficulté: <%=@mission.difficulty%>
  </div>
  <div>
    Temps estimé: <%=@mission.time%>
  </div>
</div>


<div class="btn btn-primary">Rejoindre la mission!</div>

<%# to be deleted %>
<%= link_to "Create mission", mission_challenges_path(@mission), method: 'post' %>
