<!DOCTYPE html>
<html>
  <head>
    <title>TreasureMapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>

    <%= render 'shared/flashes' %>
    <% if user_signed_in? %>
      <div class="main-wrapper">
        <%= yield %>
      </div>
    <% else %>
      <%= yield %>
    <% end %>

    <% if user_signed_in? %>
      <%= render 'shared/navbar_bottom' %>
    <%end%>
  </body>
</html>
